*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background: rgb(16, 17, 19);
    position: fixed;
    width: 100%;

}
.title{
    font-weight: 600px;
    font-size: 60px ;
    color: rgb(255, 255, 255);
}

.navbar{
    padding-top: 20px;
}

.unlist li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.list {
    position: relative;
    color: beige;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 18px;
    
}

.list::after{
    content: "";
    position: absolute;
    left: 0; 
    bottom:-8px;  
    width: 0;
    height: 3px;
    background-color: aqua;
    transition: 0.5s ease;
}

a:hover::after {
    width: 100%;
}

.subtitle {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

img{
    float:left;
    margin-left: 15px;
    width: 200px;
}

p{
    font-size:22px;
    padding: 20px;
}

ol{
    padding-left: 40px;
    font-size: 20px;
}

ol li{
    list-style-type: circle;
    padding: 5px;
}

/* mobile phone*/

@media screen and (max-width: 900px){
    .header{
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 10px;
    }

    .navbar .unlist {
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
    }

    .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .title{
        font-size: 22px;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
    }

    .title a{
        font-size: inherit;
    }

    .list{
        justify-content: space-evenly;
        margin: 5px 10px;
    }

    .navbar .unlist li a {
        font-size: 15px;
        padding: 3px 4px;
    }

    .fa-regular {
        font-size: 18px;
    }

    .subtitle {
        font-size: 20px;
    }

    .container img {
        width: 100%;
        max-height: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
        align-items: center;
    }

    .container p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px){

    .navbar .list a {
        font-size: 13px;
        padding: 5px 6px;
    }

    .navbar ul {
        gap: 10px;
    }

    .title h1 {
        font-size: 20px;
    }

    .container{
        padding: 0 15px;
        width: 100%;
    }

    .container img {
        width: 100%;
        height: auto;
    }
}
