body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

button{
    padding: 10px 15px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}
.error {
    color: red;
    margin-bottom: 10px;
}