*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(19, 58, 235);
    font-size: 20px;
}