<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About MOTTECK</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<!-- ================= HEADER ================= -->
<header class="header">

    <div class="logo">
        <a href="{{ url_for('home') }}">MOTTECK</a>
    </div>

    <div class="menu-btn" id="menuBtn">☰</div>

</header>

<!-- ================= MOBILE MENU ================= -->
<div id="mobileMenu" class="mobile-menu">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('service') }}">Service</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contact') }}">Contact</a>
</div>
    <section>
        <div class="container">
            <h2 class="subtitle">ABOUT US</h2>
            <img src="{{ url_for('static', filename='images/one.png') }}" alt="one" height="500" width="500">
            <p>Welcome to Motteck, the ultimate destination for enthusiast in the automotive world.</p>
            <p>MOTTECK is multi facinated informative website  dedicated for  enthusiast and experts who share a passion for everything on wheels from cars, trucks,
                ,motobikes and planes to the latest advancements in electric vehichles and hybrid vehichles.</p>
            <p> Our mission is to explore and share the cutting-edge trends shaping morden transpotation,from smart mobility systems
                and sustainability engines to design breakthroughs and perfomance upgrades.</p>         
            <p>In addition to automotive technology,our services section dives deep into vehichles maintenance, engine care, oil selection and repair 
                helping readers keep their machines running efficiently and safely
            </p>
            <p>Whether your a car lover, a truck lover or a motobike rider,Motteck is 
                your trusted source for reliable insights, reviews, news and guides in the automotive industry.
            </p>
            <h2 class="subtitle">OUR FOCUS AREAS</h2>
            <ol>
                <li>Car review,Truck review, Motobike review and Aviation review</li>
                <li>Insurance guides </li>
                <li>Engine maintenance & oil guidlines.</li>
                <li>Technology, Trends and Reviews.</li>
            </ol>
            <h2 class="subtitle">VISION</h2>
            <p>To inspire and educate automotive enthusiasts by showcasing how the transport sector continues to transform 
                the vehichles we drive and the future we're building on the road.
            </p>     
        </div>
    </section>
<footer class="footer">
    <div class="footer-content">
        <h2>INFO</h2>
        <p>Follow us on all social media platforms</p>
    </div>

    <!-- SOCIAL ICONS -->
    <ul class="list">
        <li><a class="big" href="https://www.instagram.com/mott_eck" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a class="big" href="https://x.com/motteck254?t=s82tjwt08Vy2TJAObwS63Q&s=09" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
        <li><a class="big" href="https://www.facebook.com/profile.php?id=100064234773365" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>

    <!-- LEGAL LINKS -->
    <div class="legal-links">
        <a href="{{ url_for('term') }}">Terms & Conditions</a>
        <span>•</span>
        <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    </div>
</footer>    
</body>
</html>