<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motteck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='privacy.css') }}">
</head>
<body>
    <header>
        <h1>PRIVACY & POLICY</h1>
    </header>
    <section class="p">
        <p>At Motteck we value the privacy of our visitors.The privacy policy collect to use and protect your personal information that 
            as the visit come to our website or contact us from our online form.
        </p>
        <br>
        <p>Below are some of the ways we use your information. </p>
        <br>
        <p><b>INFORMANTION WE COLLECT</b>- We only collect the firstname, lastname and email from the contact form you.
            We may also collect non-personal information automatically through analytics tools,such as browser type and version, device information and pages you visited and the time you spent on the site.
        </p>
        <br>
        <p><b>HOW WE USE YOUR INFORMATION</b>-We use your information to respond to your message that you write to us or inquire.
            Also improve our website performance and experience to maintain security and prevent spam or abuse.When you click the like button o our posts,your 
            interaction may be recorded anonymously to count total likes.No personal information is stored for liking our post.
        </p>
        <br>
        <p><b>DATA SECURITY</b>-We seriously take appropriate measures to protect your personal data aganist unauthorized accesss,
            alteration or disclosure.However please note that no online transmission or storage method is 100% secure.
        </p>
        <br>
        <p><b>YOUR PERSONAL RIGHTS AS OUR VISITOR</b>We give our visitors the right to request access to the personal data we hold about you.
            Also for correction or deletion of your data even widthraw consent for data processing. 
        </p>
        <br>
        <p><b>COOKIES AND TRACKING TECHNOLOGIES</b>-We may use cookies or similar technologies to analyze how visitors use site and improve functionality.
            you may choose to disable cookies through your browser settings at anytime.Once we intergrate GOOGLE ADSENSE, cookies may also be used to display personalised ads as required 
            by Google advertising policies.
        </p>
        <br>
        <p><b>DATA SHARING AND DISCLOSURE</b>- We do not sell, trade or rent users personal information that we get from you our visitor, 
            your data is only shared if required by law or legal process.Needed to protect our rights and prevent misuse of the website.
        </p>
        <br>
        <p><b>THIRD-PARTY LINKS</b>-Our website may contain links to external sites.We are not responsible for the privacy practices or content of those websites.</p>
        <br>
        <p><b>CHILDERN PRIVACY</b>-Motteck is not directed towards children under 13 years of age and we do not knowigly collect personal information from them.</p>
        <br>
        <p><b>FUTURE ADVERTISING (GOOGLE ADSENSE)</b>- when we begin displaying ads through Google adsense, they may use cookies to serve personilized ads.users can learn more about how Google usees infomation from sites that use its services.</p>
        <br>
        <p><b>CHANGES TO THIS PRIVACY</b>- We may update this privacy policy occassionally.any changes will be posted on this page with an updated date.</p>
        <br>
        <p><b>CONTACT US</b>- If you have questions or concerns about this privacy policy please dont hesitate to contact us at <a href="{{ url_for('contact') }}">contact.</a></p>
        <br>
    </section>
</body>
</html>